<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;height: 100%;">

  
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="change($event)">
    <mat-button-toggle value="15">15</mat-button-toggle>
    <mat-button-toggle value="20">20</mat-button-toggle>
    <mat-button-toggle value="25">25</mat-button-toggle>
    <mat-button-toggle value="30">30</mat-button-toggle>
  </mat-button-toggle-group>
  <div style="height: 10px;"></div>
  <div style="height: 10px;"></div>
  <mat-form-field class="example-form-field" style="height: 15%;">
    <mat-label>JPY</mat-label>
    <input matInput type="text" [(ngModel)]="calculator.inputValue" style="height: 100%; font-size: 50px;">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="calculator.inputValue=''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  
  

  <div style="font-size: 40px">
    {{calculate(calculator.inputValue, calculator.formula, profit)}}
    <span style="font-size: 15px">RMB</span>
  </div>
</div>
